*
   outline none

body
    font-size 16px
    font-family fontDosis
    font-weight 300
    padding 0
    margin 0
    display flex
    align-items center
    justify-content center
    flex-flow column
    background-color lead1
