footer
  width 100%
  padding 2em 1em
  box-sizing border-box

  h4
    margin 1em auto
    display block
    font-size 1.25em
    color black
    text-transform uppercase
    text-align center
    font-weight 500

  nav
    margin 0 auto
    display flex
    align-items center
    justify-content center
    flex-flow row wrap

    a
      color black
      opacity 0.5
      text-decoration none
      transition all 0.5s
      font-size 1.5em
      margin 0.5em

      &:hover
        opacity 1

      span
        &:before
          display block
