footer
  width 100%
  padding 2em 1em
  box-sizing border-box

  span
    margin 1em auto
    display block
    font-size 1em
    text-align center
    font-weight 600
    color black

    a
      text-decoration none
      margin-left 0.5em
      color black

      &:hover
        text-decoration underline

  nav
    margin 0 auto
    display flex
    align-items center
    justify-content center
    flex-flow row wrap

    a
      color black
      opacity 0.5
      text-decoration none
      transition all 0.5s
      font-size 1.5em
      margin 0.5em

      &:hover
        opacity 1

      span
        &:before
          display block
