header
  width 100%
  max-width web
  margin auto
  padding 2em 1em
  box-sizing border-box
  
  nav
    width 100%
    display flex
    align-items center
    justify-content center
    flex-flow row wrap

    a
      color black
      opacity 0.5
      font-size 1.25em
      font-weight 500
      transition all 0.5s
      margin 0 1em
      text-transform uppercase
      text-decoration none
      cursor pointer

      &:hover
      &.active
        opacity 1
