.notification
  top 20px
  position fixed
  right -250px
  transition all 0.5s
  background-color white
  box-shadow 1px 1px 3px 1px rgba(black,0.15)
  padding 0.5em
  box-sizing border-box
  text-align center
  color black
  font-weight 500
  font-size 1.25em
  cursor pointer

  &.active
    right 20px
