button#top
  position fixed
  bottom 1em
  right -15%
  color white
  background-color black
  border 0
  padding 0.5em 0.75em
  box-sizing border-box
  transition all 0.5s
  z-index 9998
  cursor pointer

  &.is-visible
    right 1em

  &.fade-out
    opacity 1

  &:hover
    opacity 1

  span
    font-size 1.5em

    &:before
      vertical-align top

a.logo
  color black
  background-color white
  margin 1em auto
  border 7.5px solid black
  padding 0.75em
  font-weight 800
  box-sizing border-box
  height 50px
  font-size 2.5em
  width 50px
  display flex
  align-items center
  justify-content center
  flex-flow column
  text-align center
  box-shadow 7.5px 7.5px 0 0 black
  transition all 0.5s
  text-decoration none

  &:hover
    box-shadow 0 0 0 0 black
