@import 'nib'

@import 'theme/fonts'
@import 'theme/variables'
@import 'theme/animation'

normalize-css()

@import 'theme/base'
@import 'theme/header'
@import 'theme/section'
@import "theme/article"
@import "theme/aside"
@import "theme/menu"
@import 'theme/gallery'
@import 'theme/footer'
@import 'theme/form'
@import 'theme/popup'
@import 'theme/notification'
@import 'theme/other'

//@import 'vendor/*.*'
