footer
  h4: | Share
  nav
    a.js-social-share(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//cristhgunners.github.io/Coolors/", target="_blank"): span.icons-facebook-official
    a.js-social-share(href="https://twitter.com/home?status=Coolors%20by%20%40cristhgunners%20http%3A//cristhgunners.github.io/Coolors/", target="_blank"): span.icons-twitter
