#popup
  a#closepopup(role="button", aria-label="Close popup", title="Close popup", tabindex="-1"): span.icons-close
  a.logo(href="http://cristhgunners.github.io/Coolors/", rel="nofollow noreferrer noopener", aria-hidden="true", tabindex="-2"): | C
  h1: | Coolors
  p: | Beautiful Color Palettes
  a.repo(href="https://github.com/CristhGunners/Coolors", target="_blank", rel="nofollow noreferrer noopener", aria-hidden="true", tabindex="-3")
    span.icons-github
    | Repository
  h2: | By Cristhofer Andana
  nav
    a(href="https://dribbble.com/CristhGunners", target="_blank", rel="nofollow noreferrer noopener", aria-hidden="true", tabindex="-4"): span.icons-dribbble
    a(href="https://github.com/CristhGunners", target="_blank", rel="nofollow noreferrer noopener", aria-hidden="true", tabindex="-5"): span.icons-github
    a(href="https://www.behance.net/cristhgunners", target="_blank", rel="nofollow noreferrer noopener", aria-hidden="true", tabindex="-6"): span.icons-behance
    a(href="https://cristhgunners.github.io/", target="_blank", rel="nofollow noreferrer noopener", aria-hidden="true", tabindex="-7"): span.icons-link
