#popup
  a#closepopup: span.icons-close
  a.logo(href="http://cristhgunners.github.io/Coolors/"): | C
  h1: | Coolors
  p: | Beautiful Color Palettes
  a.repo(href="https://github.com/CristhGunners/Coolors", target="_blank")
    span.icons-github
    | Repository
  h3: | By Cristhofer Andana
  nav
    a(href="https://twitter.com/CristhGunners", target="_blank"): span.icons-twitter
    a(href="https://instagram.com/cristhgunners/", target="_blank"): span.icons-instagram
    a(href="https://www.behance.net/cristhgunners", target="_blank"): span.icons-behance
    a(href="https://dribbble.com/CristhGunners", target="_blank"): span.icons-dribbble
    a(href="https://github.com/CristhGunners", target="_blank"): span.icons-github
    a(href="https://medium.com/@cristhgunners", target="_blank"): span.icons-medium
    a(href="http://cristhgunners.github.io/", target="_blank"): span.icons-link
